@import '@fortawesome/fontawesome-free/css/all.min';

h2 {
  padding: 1rem 0;
  text-align: left;
}

#overlay {
  background: #111;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}